#root {
    margin: 0 auto;
    text-align: center;
    background-color: lightcyan;
}

.toggleButton {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggleButton .bar {
    height: 4px;
    width: 100%;
    background-color: gray;
    border-radius: 20px;
}

/* #leftSec {
    background-color: lightblue;
} */

/* .projectItem {
    width: 100%;
} */

@media (max-width: 650px) {
    .toggleButton {
        display: flex;
    }

    .projectList {
        display: none;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .projectList ul {
        background-color: gray;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projectList li {
        text-align: center;
        width: 100%;
    }
    .projectItem {
        width: 100%;
    }
    .projectList.active {
        display: flex;
    }

    #leftSec {
        width: 100%;
    }
}

#leftSec ul {
    margin: 0;
    padding: 0;
}

#leftSec li {
    list-style: none;
}
